html{
    min-height: 100%;
}
body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    line-height: 150%;
    color: #333;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Tiro Bangla', serif;
    background-image:
    repeating-linear-gradient(
        90deg,
        #949494,
        #949494 5px,
        transparent 1px,
        transparent 100px
    ),
    repeating-linear-gradient(
        0deg,
        #949494,
        #949494 5px,
        #f7f7f7 1px,
        #f7f7f7 100px
        );

}
h1,h2{
    margin: 0;
    padding: 0;
    line-height: 150%;
}
h1{
    background-color: #333;
    text-align: center;
}
body p{
    line-height: 150%;
}
section{
    background-color: #f7f7f7;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.site-width{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
#main{
    min-height: 350px;
}
.wrap{
    overflow: hidden;
}
.introduction, .login{
    width: 300px;
    height: 400px;
    float: left;
    margin: 10px;
    /* box-sizing: border-box; */
}
/* .schedule{
    margin-right: 90px;
}
.login{
    padding-left: 25px;
    padding-right: 25px;
} */
table{
    vertical-align: middle;
    overflow: hidden;
    margin-top: 10px;
}
table tr{
    height: 45px;
}
.signIn input[type=email],
.signIn input[type=password]{
    width: 180px;
    height: 30px;
    border: 1px solid #949494;
}
input[type="submit"]{
    float: right;
    background-color: #949494;
    color: #f7f7f7;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}
a{
    text-decoration: none;
    color: #333;
}
body a:hover{
    text-decoration: underline;
}

h1 a,footer a{
    color: #f7f7f7;
    top: 50%;
}
img{
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
p{
    font-size: 20px;
}
header,footer{
    width: 100%;
    /* margin: 0; */
    line-height: 150%;
    text-align: center;
    background-color: #333;
    height: 60px;
    padding: 30px;
}
header{
    margin-bottom: 70px;
}
footer{
    bottom: 0;
    margin-top: 70px;
}
footer a{
    vertical-align: middle;
}
/* 新規会員登録 */
section .register{
    margin-top: 100px;
    margin-bottom: 100px;
}
.register h2{
    text-align: center;
}
.register p{
    font-size: 14px;
}
.register.small{
    font-size: 7px;
}
.register input[type="email"],
.register input[type="text"],
.register input[type="password"]{
    width: 300px;
    height: 30px;
}
.registerTable{
    margin-top: 10px;
}
.registerTable input[type="submit"]{
    height: 40px;
    width: 100px;
    background-color: #333;
}
label.err{
    background: #f7dcd9;
}
div.area-msg{
    color: #dc143c;
}

/* マイページ */
.mypage-wrap{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.game-record{
    float: left;
    margin: 15px;
}
.game-record{
    width: 400px;
    width: 700px;
    margin-left: 50px;

}
.bar{
    float: left;
}
ul.my-menu>li{
    list-style: none;
    line-height: 200%;
    display: inline-block;
    margin-right: 70px;
}
ul.my-meu>li:last-child{
    margin-right: 0px;
}
td.record-td{
    width: 100px;
    text-align: center;
}
.record-tr{
    height: 60px;
}
.record-td>input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    border: none;
}
.gameRecPic{
    /* opacity: 0; */
    width: 100%;
    background-color: #f7f7f7;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  vertical-align: middle;
  margin-right: 8px;
}
/* お問合せメール送信ページ */
.mail-title{
    text-align: center;
    padding-top: 30px;
}
.mail-form-wrap{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f7f7f7;
    width: 800px;
}
.form-table{
    margin: 50px 200px;
}
.mail-form{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
.mail-input{
    width: 400px;
    height: 40px;
}
.text-input{
    width: 400px;
    height: 300px;
}
.mail-td{
    height: 50px;
    width: 400px;
    box-sizing: border-box;
}
/* パスワード変更ページ */
.pass-title{
    text-align: center;
}
.pass_edit{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.registerTable{
    width: 650px;
    margin-right: auto;
    margin-left: auto;
}
.changePassTr{
    height: 150%;
}
td.changePassTd{
    height: 70px;
    text-align: center;
    width: 180px;
}
.changePassTd>input{
    width: 420px;
}
td>input[type="password"]{
    height: 40px;
}
/* アカウント消去ページ */
.btn-mid{
    margin: 50px;
}
.form{
    vertical-align: middle;
}